In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)
g_key

'AIzaSyDFDyoEIC5a2AwEougzCyEawPWWm52ljgQ'

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
# QUESTION - Should the index be set to "City_ID"?
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Meulaboh,ID,4.14,96.13,76.51,87,99,4.59
1,1,Osakarovka,KZ,50.56,72.57,30.04,94,1,2.35
2,2,Ushuaia,AR,-54.80,-68.30,48.20,70,75,23.04
3,3,Butaritari,KI,3.07,172.79,81.28,80,83,19.19
4,4,Buin,CL,-33.73,-70.75,84.20,20,0,6.93

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
suitable_cities_df=city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
suitable_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Meulaboh,ID,4.14,96.13,76.51,87,99,4.59
3,3,Butaritari,KI,3.07,172.79,81.28,80,83,19.19
4,4,Buin,CL,-33.73,-70.75,84.20,20,0,6.93
5,5,Rikitea,PF,-23.12,-134.97,75.85,68,0,7.85
6,6,Taft,IR,31.75,54.21,59.00,19,0,4.70

In [6]:
# 4a. Determine if there are any empty rows.
suitable_cities_df.isnull().sum()

City_ID       0
City          0
Country       6
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
suitable_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Meulaboh,ID,4.14,96.13,76.51,87,99,4.59
3,3,Butaritari,KI,3.07,172.79,81.28,80,83,19.19
4,4,Buin,CL,-33.73,-70.75,84.20,20,0,6.93
5,5,Rikitea,PF,-23.12,-134.97,75.85,68,0,7.85
6,6,Taft,IR,31.75,54.21,59.00,19,0,4.70
...,...,...,...,...,...,...,...,...,...
683,683,Rosarito,MX,32.33,-117.03,80.60,46,20,10.29
684,684,Vila Franca Do Campo,PT,37.72,-25.43,69.80,88,75,17.22
685,685,Doha,QA,25.29,51.53,80.60,65,0,5.82
687,687,Roald,NO,62.58,6.13,50.00,81,75,16.11
689,689,Burnie,AU,-41.07,145.92,53.01,88,42,1.01

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = suitable_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

#######################
########## PUT Current Description back in list between "Max Temp" and "Lat"
###########################

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp    Lat     Lng Hotel Name
0             Meulaboh      ID     76.51   4.14   96.13
3           Butaritari      KI     81.28   3.07  172.79
4                 Buin      CL     84.20 -33.73  -70.75
5              Rikitea      PF     75.85 -23.12 -134.97
6                 Taft      IR     59.00  31.75   54.21
7             Bengkulu      ID     75.13  -3.80  102.27
8              Mataura      NZ     55.00 -46.19  168.86
9          East London      ZA     62.31 -33.02   27.91
14  Comodoro Rivadavia      AR     69.80 -45.87  -67.50
15              Avarua      CK     75.20 -21.21 -159.78

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

# 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

# Add latitude and longitude to the params dictonary
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()


    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Not found. Skipping")
    
    
    
hotel_df.head()

Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping
Not found. Skipping

         City Country  Max Temp    Lat     Lng              Hotel Name
0    Meulaboh      ID     76.51   4.14   96.13               Kost Pria
3  Butaritari      KI     81.28   3.07  172.79      Isles Sunset Lodge
4        Buin      CL     84.20 -33.73  -70.75                 Paihuen
5     Rikitea      PF     75.85 -23.12 -134.97          Pension Maro'i
6        Taft      IR     59.00  31.75   54.21  بوم گردی حاجی زینل تفت

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna() # will delete any row that contains a missing value

In [11]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

# ADD WEATHER DESCRIPTION ***************************************
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Temp</dt><dd>{Max Temp}
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# 11b. Display the figure
# Take a screen shot

Figure(layout=FigureLayout(height='420px'))